.Html{
    margin: 0px;
    background-color:lightblue;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: 8px 8px 5px gray;
    border: 2px solid whitesmoke;
    margin: 8px;
    width: 230px;
    height: 200px;
    /* gap:30px; */
}
.tab {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 100vh; 
    width: 100vw;
}

.tab1 {
    margin: auto;
    width: 150vw;
    border-collapse: collapse;
    background-color:#EEEDEB;
}
.tab1 > caption{
    color:#009FBD;
    font-size: 40px;
    font-weight: bolder;
}
th{
    color: white;
    background-color: #009FBD;
}
td{
    padding-left: 120px;
    
}