
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
}

.tab1 {
    margin: auto;
    width: 150vw;
    border-collapse: collapse;
    background-color:#EEEDEB;
}
.tab1 > caption{
    color:#009FBD;
    font-size: 40px;
    font-weight: bolder;
}
th{
    color: white;
    background-color: #009FBD;
}
td{
    padding-left: 120px;
    
}