.Html{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
.div1{
    border: 2px solid gray;
    box-shadow: 3px 3px gray;
    border-radius: 20px;
    padding-left: 15px;
    margin: 8px;
    width: 400px;
    height: 150px;
    gap:30px;
}
#sub{
    background-color:#F3C623;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
#com{
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
span{
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(232, 145, 24);
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.S{
    font-size: 25px;
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}