.left{
    display: flex;
    justify-content: space-between;
}

.Html{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
.div1{
    border: 2px solid gray;
    box-shadow: 3px 3px gray;
    border-radius: 20px;
    padding-left: 15px;
    margin: 8px;
    width: 200px;
    height: 90px;
    gap:30px;
}
span{
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(232, 145, 24);
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.S{
    font-size: 25px;
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}