.parent{
    /* background-color:#C4E1F6; */
    border: 2px solid #C4E1F6;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color:black;
    border-radius: 10px;
}
.start, .center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 80px;
    gap:2px;
}
.sign{
    background-color:rgb(208, 103, 22);
    color:white;
    text-decoration: none;
    font-weight: bolder;

    border-radius: 5px;
    padding: 6px;
}
.Html{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
.div1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 8px 8px 5px gray;
    border: 2px solid whitesmoke;
    margin: 8px;
    width: 300px;
    height: 320px;
    /* gap:30px; */
}